/*--------------------------------------------------
	[CONTEUDO]
----------------------------------------------------*/
body {
	background-color: $corBody;
	color: $corPrincipal;
	font-family: $font-textos;
	font-weight: 100;
	font-size: 20px;
}

.box-body {
	margin: 15px 0 30px;
	padding: 30px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.dribbble {
	position: relative;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);

	.dribbble-shot {
		padding: 10px 10px 20px;
		margin-bottom: 30px;



		.group {
			position: relative;
		}
	}

	.shot-img {
		max-width: 100%;
		height: 0;
		padding-bottom: 75%;
		overflow: hidden;
	}
}

.tools {
	margin: 10px 0 0;
	text-align: left;

	li {
		text-align: center;
		font-weight: 400;
		width: auto;
		margin: 0 0 0 12px;
		display: inline;
		font-size: 25px;
		line-height: 1;
		color: #aaa;
		cursor: pointer;

		a {
			text-decoration: none;
			color: #aaa;
			margin-left: 20px;
		}
		i{
			margin-left: 15px;
		}
	}
}


.LikeTrue{
	position: relative;
	background: #ec4989;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	color: #fff!important;
}
