/*--------------------------------------------------
	[VARIAVEIS]
----------------------------------------------------*/


$font-textos: 'Poppins', sans-serif;
$font-size-conteudos: 14px;


$corBody: #efefef;
$corPrincipal: #24292e;
$corSecundaria: #f4f4f4;
$cinza: #bbb;
